    
    </section>
    <section>
        <nav class="navbar bg-light justify-content-center fixed-bottom p-0" id="bottom-nav">
            <button class="navbar-toggler py-0" type="button" data-toggle="collapse" data-target="#nav-menu" aria-controls="nav-menu" aria-expanded="false" aria-label="Toggle navigation" id="toggle-menu">
                <i class="fas fa-angle-up fa-2x" id="icon"></i>
            </button>
            <div class="collapse navbar-collapse" id="nav-menu">
                <ul class="navbar-nav flex-row">
                    <li class="nav-item mr-4 ml-auto">
                        <a class="nav-link" href="/social">SOCIAL</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link" href="/contact">CONTACT</a>
                    </li>
                    <li class="nav-item ml-4 mr-auto">
                        <a class="nav-link" href="/about">ABOUT</a>
                    </li>
                    
                </ul>
            </div>
        </nav>  
    </section>
    

    <script src="/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    

</body>
</html>