    
    <nav class="navbar bg-light justify-content-center fixed-bottom p-0" id="bottom-nav">
        <button class="btn btn-light py-0 m-0" type="button">
            <i class="fas fa-angle-up fa-3x "></i>
        </button>
        <div class="collapse">
            <ul>
                <li class="navbar-nav mx-0">
                    <a class="nav-link" href="/social">SOCIAL</a>
                </li>
                <li class="navbar-nav mx-0">
                    <a class="nav-link" href="/about">ABOUT</a>
                </li>
                <li class="navbar-nav mx-0">
                    <a class="nav-link" href="/contact">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>