<%- include("partials/header") %>

<div id="home-image">
    <div class="container mx-auto">
        <div class="row my-5">
            <div class="col-sm">
                <a href="/social">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="">SOCIAL</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a href="/About" class="">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="">ABOUT</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a href="/contact">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="">CONTACT</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
