html {
    height: 100%;
}

body {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    color: white;
    height: 100%;
}

#top-nav {
    color: mediumseagreen;
    
    letter-spacing: .2rem;
    font-weight: 300;

    a{
        color: mediumseagreen;
    }

    a:hover {
        font-weight: 500;
    }
}

#content {
    margin-top: 55.6px;
    color: black;
}

#bottom-nav {
    button {
        color: mediumseagreen;
        border: none;
        outline: none;
    }

    button:hover {
        color: black;
    }
    
    .nav-link {
        color: mediumseagreen;
        letter-spacing: .2rem;
    }

    .nav-link:hover {
        color: black;
    }
}